.modeler {
  display: grid;
  grid-template-rows: 50px 1fr;
  padding: 3%;
  height: 100%;
  min-height: 600px;
}

.modeler__uploader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modeler__container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 96%;
  margin: 2%;
  border: 1px solid black;
}

.modeler__container--error {
  grid-template-columns: 1fr;
}

.modeler__container__canvas--loaded {
  display: block;
}

.modeler__container__canvas--empty {
  display: none;
}

.modeler__container__panel {
  z-index: 10;
  border-left: 1px solid #ccc;
  overflow: auto;
}

.modeler__container__panel > .djs-properties-panel {
  padding-bottom: 70px;
  min-height: 100%;
}

.bjs-powered-by {
  display: none;
}
