.modeler {
  display: grid;
  grid-template-rows: 50px 1fr;
  padding: 3%;
}

.modeler__uploader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modeler__container {
  width: 96%;
  height: 100%;
  margin: 2%;
  border: 1px solid black;
}

.bjs-powered-by {
  display: none;
}
