.app {
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 60px 1fr;
}

.app__header {
  background-color: #222;
  color: white;
}

.app__header__title {
  font-size: 1.5em;
}

.error-message {
  color: red;
  text-align: center;
}
